nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #035373;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
nav li {
  border-right:1px solid #bbb;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover:not(.active) {
  /*background-color: #064973;*/
  color: #D9B341;
}

.active {
  background-color: #BF8924;
}

img {
  object-fit: cover;
}
