body {
    width:70%;
    margin:0 auto;
    color:darkslategrey;
    background-color:lightgreen;
    margin-top:20px;
}
h1 {
    color:darksalmon;
    background-color:antiquewhite;
    border-radius:10px;
}