body {
    width: 70%;
    margin: 0 auto;
    color: #807D6B;
    background-color: #FFFBD6;
}

section {
    width: 60%;
    float: left;
    background-color: #FFFBD6;
    min-height: 15px;
}

aside {
    width: 35%;
    height: 300px;
    background-color: #CCC36E;
    border-radius: 15px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    top: 90px;
    right: 7%;
}

article {
    background-color: #FFF38A;
    min-height: 15px;
}
