body {
    padding-top: 15px;
    margin: 0 auto;
    width: 75%;
    background-color:mediumaquamarine;
    color:brown;
}
footer{
    text-align:center;
    font-size:small;
}
nav {
    text-align: center;
    font-size:large;
    padding-left:15px;
    padding-right:15px;
}