body {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    background-color:bisque;
    color:firebrick;
}
h1{
    color:blanchedalmond;
    background-color:indianred;
    border-radius: 15px;
    padding:10px;
}
h2{
    color:darkcyan;
}
footer {
    text-align:center;
    font-size:small;
}